<h2>Booking Information</h2>

</p>
    Flight ID: <%= @booking.flight_id %><br>
    Departure Airport: <%= @booking.flight.departure_airport.code %><br>
    Arrival Airport: <%= @booking.flight.arrival_airport.code %><br>
    Start Date: <%= @booking.flight.start_datetime %>
</p>

<h2>Passenger Information</h2>

<% @booking.passengers.each do |passenger| %>
    <p>
        Name: <%= passenger.name %><br>
        Email: <%= passenger.email %>
    </p>
<% end %>